.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #ffff;
    border-bottom: var(--color-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}