.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #ffff;
    border-bottom:  1px solid var(--color-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width:$bp-samllest){
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}